#headimage{
    display: flex;
    justify-content: center;
}

.homelayout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hometext{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-wrap: wrap;
    min-width: 320px;
    max-width: 40vw;
    margin: 20px;

}
.hometitle{
    font-size: 34px;
}
.homecontent{
    font-size: 24px;
}

body{
    background-image:url(./pics/madhuvanbackg.jpg);
    color: azure;
}

#midsection{
    flex-wrap: wrap-reverse;
}

.homeimage>img{
    max-width: 80%;
    width: 640px;
    
    min-width: 280px;
    
    margin:30px;
    
}




.menuItem{
    display: flex;
    flex-wrap: wrap;
}

.menuImage{
    max-width: 80%;
    width: 640px;
    
    min-width: 280px;
    
    margin:30px;

}
